<div>
        <ul>
            <li (click)='loc.chngeloc("homeepage")' [ngClass]="loc.location=='homeepage'?'active':''">homeepage</li>
            <li (click)='loc.chngeloc("todo")' [ngClass]="loc.location=='todo'?'active':''">todo</li>
            <li (click)='loc.chngeloc("posts")' [ngClass]="loc.location=='posts'?'active':''">posts</li>
            <li (click)='loc.chngeloc("album")' [ngClass]="loc.location=='album'?'active':''">album</li>
            <li (click)='loc.chngeloc("comment")' [ngClass]="loc.location=='comment'?'active':''">comment</li>
            <li (click)='loc.chngeloc("user")' [ngClass]="loc.location=='user'?'active':''">user</li>
            <li (click)='loc.chngeloc("photos")' [ngClass]="loc.location=='photos'?'active':''">photos</li>
            <li *ngIf="user">welcom   {{user}}</li>
       </ul>

</div>
