<p>homepage</p>

<ul class="ulone">
        <li class="lione"  *ngFor="let phot of photos" >
           
            
            <img src="{{phot.url}}" alt="">
            <div class="divone"> {{phot.id}}-{{phot.title}}  </div>
           
    
        </li>
    </ul>

<ul class="ultow">
 
    <li *ngFor="let p of posts">
        userId= {{p.userId}} <br>
        id=  {{p.id}} <br>
        title= {{p.title}} <br>
        body=  {{p.body}} <br>
        <!-- <ul>
             <li *ngFor ='let c of p.mycoment'>

                  <div> body of coment={{c.body}}</div>
             </li>

       </ul> -->
   
    </li>

</ul>

